= render 'includes/header'

#container.container.clearfix
  #new_transaction_container
    %h2 Novo Registro
    %ul.nav.nav-tabs
      %li#outgoes_tab.active
        %a{ :'data-url' => new_outgo_url } Gastos
      %li#incomes_tab
        %a{ :'data-url' => new_income_url } Ganhos
    .content-container
      = render 'outgoes/new'
      = render 'incomes/new'

  #summary_container
    %h2 Extratos
    %h2.separator= '|'
    %h2
      %a Gráficos
    %ul.nav.nav-tabs
      %li.active
        %a Recente
      %li
        %a no Mês
      %li
        %a no Ano
      %li
        %a Personalizado 

    .content-container
      #filter_container
        %form.form-inline
          %label.radio Mostrar:
          %label.radio{ for: 'show_option1'}
            = radio_button_tag :show, :option1
            Gastos
          %label.radio{ for: 'show_option2'}
            = radio_button_tag :show, :option2
            Ganhos
          %label.radio{ for: 'show_option3'}  
            = radio_button_tag :show, :option3, checked: 'checked'
            Ambos

      %h3 Movimentações Recentes

      -if @transactions.any?
        %table.table.table-condensed.table-hover
          %thead
            %tr
              %th.column-date Data
              %th.column-value Valor
              %th.column-category Categoria/Fonte
              %th.column-tags Tags
              %th.column-description Descrição
          %tbody
            - @transactions.limit(10).each do |transaction|
              %tr{ class: transaction.type == "Outgo" ? 'outgo-row' : 'income-row' }
                %td= transaction.date
                %td= number_to_currency transaction.value
                %td= transaction.type == 'Outgo' ? transaction.category.name : transaction.source.name
                %td
                  - transaction.tags.each do |tag| 
                    %i.icon-tag
                    %span.tag= tag.name
                %td= transaction.description
      - else
        .alert
          %button.close{ :type => "button", :'data-dismiss' => "alert" } ×
          %strong Ops! 
          Você ainda não tem nenhuma movimentação cadastrada!