%h3 Gastos Recentes

-if @outgoes.any?
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th.column-date Data
        %th.column-value Valor
        %th.column-category Categoria
        %th.column-tags Tags
        %th.column-description Descrição
    %tbody
      - @outgoes.limit(15).each do |outgo|
        %tr.outgo-row
          %td= l outgo.date
          %td= number_to_currency outgo.value
          %td= outgo.category.name
          %td
            - outgo.tags.each do |tag| 
              %i.icon-tag
              %span.tag= tag.name
          %td= outgo.description
- else
  .alert
    %button.close{ :type => "button", :'data-dismiss' => "alert" } ×
    %strong Ops! 
    Você ainda não tem nenhum gasto cadastrado!