= form_for(Outgo.new, remote: true, html: {id: 'outgoes_form'}) do |f|
  %h2 Novo Gasto

  = f.label 'value', 'Quanto'
  .input-prepend.entry
    %span.add-on R$
    = f.text_field 'value', placeholder: 'Ex.: 10,00'

  = f.label 'date', 'Quando'
  .input-append.entry
    = f.text_field 'date', :value => l(Date.today),  :class => 'auto-kal', :'data-kal' => "format: 'DD/MM/YYYY'"
    %button.btn{ type: 'button' }
      %i.icon-calendar

  = f.label 'category_id', 'Categoria'
  .entry
    = f.collection_select 'category_id', @categories, :id, :name

  = f.label 'tags', 'Tags'
  .entry
    = f.hidden_field 'tags', { class: 'tags beautiful-box', data: {tags: @tags}, value: "" }
  
  = f.label 'description', 'Descrição'
  .entry
    = f.text_area 'description', { rows: '2', placeholder: 'Ex.: Sanduíche muito louco' }

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    %input.btn{ type: 'reset', value: 'Clean' } 
