= form_for(Outgo.new, html: {id: 'outgoes_form'}) do |f|
  
  = f.label 'value', 'Quanto'
  .input-prepend.entry
    %span.add-on R$
    = f.text_field 'value', placeholder: 'Ex.: 10,00'

  = f.label 'date', 'Quando'
  .input-append.entry
    = f.text_field 'date', placeholder: 'Ex.: 12/10/2012'
    %button.btn{ type: 'button' }
      %i.icon-calendar

  = f.label 'category', 'Categoria'
  .entry
    = f.collection_select 'category_id', @categories, :id, :name

  = f.label 'tags', 'Tags'
  .entry
    = f.hidden_field 'tags', { class: 'tags beautiful-box', data: {tags: @tags}, value: "" }
    -# %input.tags.beautiful-box{ type: 'hidden', data: {tags: @tags} }
  
  = f.label 'description', 'Descrição'
  .entry
    = f.text_area 'description', { rows: '2', placeholder: 'Ex.: Sanduíche muito louco' }

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    %input.btn{ type: 'reset', value: 'Clean' } 
