= form_tag login_path, :id => 'login_form' do |f|
  .entry
    = label_tag :email, "E-mail"
    = text_field_tag :email
  .entry
    = label_tag :password, "Senha"
    = password_field_tag :password

  = submit_tag 'Login', class: 'btn btn-primary'