%h2 Cadastro

= form_for @user do |f|
	- if @user.errors.any?
		.error-message
			%h3 Não rolou, brother. Revê os esquemas aí.
			%ul
				- for message in @user.error.full_messages
					%li= message

	%p
		= f.label :name, "Nome"
		= f.text_field :name
	%p
		= f.label :email, "E-mail"
		= f.text_field :email
	%p
		= f.label :password, "Senha"
		= f.password_field :password

	%p.invisible
		= f.label :password_confirmation, "Confirmação de senha"
		= f.password_field :password_confirmation

	= f.submit