= form_for(Income.new, html: {id: 'incomes_form', class: 'invisible'}) do |f|

  = f.label 'value', 'Quanto'
  .input-prepend.entry
    %span.add-on R$
    = f.text_field 'value', placeholder: 'Ex.: 10,00'

  = f.label 'date', 'Quando'
  .input-append.entry
    = f.text_field 'date', placeholder: 'Ex.: 12/10/2012'
    %button.btn{ type: 'button' }
      %i.icon-calendar

  = f.label 'source', 'Fonte'
  .entry
    = f.collection_select 'source_id', @sources, :id, :name

  = f.label 'description', 'Descrição'
  .entry
    = f.text_area 'description', { rows: '2', placeholder: 'Ex.: Sanduíche muito louco' }

  .form-actions
    %input.btn.btn-primary{ type: 'submit', value: 'Save' }
    %input.btn{ type: 'reset', value: 'Clean' }