.by-month.invisible
  .summary-header.clearfix
    .period-selector
      .btn-group.push-left
        %button.btn.previous-month ‹
        %button.btn.next-month ›
      %span.month{:'data-month' => @month_to_show }= @months[:"#{@month_to_show}"]
      = " de "
      %span.year{:'data-year' => @year_to_show }= @year_to_show

    .total-display
      %span.label.label-info= "Total: "
      %span.income= render :partial => 'summary/total_display', :locals => { :transactions => @incomes }
      %span.outgo= render :partial => 'summary/total_display', :locals => { :transactions => @outgoes }
      %span.transaction= render :partial => 'summary/total_display', :locals => { :transactions => @transactions }
        
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th.column-date Data
        %th.column-value Valor
        %th.column-category= params[:type] == 'Outgo' ? 'Categoria' : params[:type] == 'Income' ? 'Fonte' : 'Categoria/Fonte'
        %th.column-tags= 'Tags' unless params[:type] == "Income"
        %th.column-description Descrição
        %th.column-options
    %tbody
      = render :partial => 'summary/by_month_transactions', :locals => { :transactions => @transactions, :type => 'transaction' }
      = render :partial => 'summary/by_month_transactions', :locals => { :transactions => @incomes, :type => 'income' }
      = render :partial => 'summary/by_month_transactions', :locals => { :transactions => @outgoes, :type => 'outgo' }

  .alert.no-transaction-to-show
    %button.close{ :type => "button", :'data-dismiss' => "alert" } ×
    %strong Ops! 
    Você ainda não tem nenhuma movimentação cadastrada neste mês!