%h2.by-month.invisible
  %span.transaction Movimentações
  %span.outgo Gastos
  %span.income Ganhos
  %span= " em #{title}"

%table.by-month.invisible{ :width => '100%' }
  %tr
    %td
      .alert
        %i.icon-warning-sign
        = " Em construção."

  -#
    %thead
      %tr
        %th.column-date Data
        %th.column-value Valor
        %th.column-category= params[:type] == 'Outgo' ? 'Categoria' : params[:type] == 'Income' ? 'Fonte' : 'Categoria/Fonte'
        %th.column-tags= 'Tags' unless params[:type] == "Income"
        %th.column-description Descrição
        %th.column-options
    %tbody
      - @transactions.where(date: Date.today.beginning_of_month..Date.today.end_of_month).order('date').each do |transaction|
        %tr{ :'data-transaction-id' => transaction.id }
          %td= l transaction.date
          %td
            - if transaction.type == 'Outgo' 
              %i.icon-arrow-down.icon-red
            - else
              %i.icon-arrow-up.icon-green
            = number_to_currency transaction.value
          %td= transaction.type == 'Outgo' ? transaction.category.name : transaction.source.name
          %td.tag-cell
            %p
              - if transaction.type == 'Outgo'
                - transaction.tags.each do |tag| 
                  %i.icon-tag
                  %span.tag= tag.name
          %td.description-cell
            %p= transaction.description
          %td
            %button.destroy-transaction{ :'data-url' => transaction_path(transaction) } ×