%table.table.table-condensed.table-hover.recent
  %thead
    %tr
      %th.column-date Data
      %th.column-value Valor
      %th.column-category= params[:type] == 'Outgo' ? 'Categoria' : params[:type] == 'Income' ? 'Fonte' : 'Categoria/Fonte'
      %th.column-tags= 'Tags' unless params[:type] == "Income"
      %th.column-description Descrição
      %th.column-options
  %tbody
    = render :partial => 'summary/recent_transactions', :locals => { :transactions => @transactions, :type => 'transaction'}
    = render :partial => 'summary/recent_transactions', :locals => { :transactions => @incomes, :type => 'income' }
    = render :partial => 'summary/recent_transactions', :locals => { :transactions => @outgoes, :type => 'outgo' }

.alert.no-transaction-to-show
  %button.close{ :type => "button", :'data-dismiss' => "alert" } ×
  %strong Ops! 
  Você ainda não tem nenhuma movimentação cadastrada!