- @outgoes.limit(12).group_by(&:date).each do |transactions_by_date|
  - transactions_date = transactions_by_date.first
  - transactions = transactions_by_date.last
  -if transactions.size == 1
    - transaction = transactions.first
    %tr.recent-outgo{ :'data-transaction-id' => transaction.id }
      %td= l  transactions_date
      %td
        %i.icon-arrow-down.icon-red
        = number_to_currency transaction.value
      %td.category-source-cell
        %p= transaction.category.name
      %td.tag-cell
        %p
          - transaction.tags.each do |tag| 
            %i.icon-tag
            %span.tag= tag.name
      %td.description-cell
        %p= transaction.description
      %td
        %button.destroy-transaction{ :'data-url' => transaction_path(transactions) } ×
  -else
    %tr.recent-outgo
      %td= l transactions_date
      %td
        - total = 0
        - transactions.each { |t| total = total - t.value }
        %i.icon-arrow-down.icon-red 
        = number_to_currency total.abs
      - 4.times do
        %td
    - transactions.each do |transaction|
      %tr.recent-outgo.grouped-by-day-row{ :'data-transaction-id' => transaction.id }
        %td
        %td
          %i.icon-arrow-down.icon-red
          = number_to_currency transaction.value
        %td= transaction.category.name
        %td.tag-cell
          %p
            - transaction.tags.each do |tag| 
              %i.icon-tag
              %span.tag= tag.name
        %td.description-cell
          %p= transaction.description
        %td
          %button.destroy-transaction{ :'data-url' => transaction_path(transaction) } ×

-# @outgoes.limit(15).order('date DESC').each do |transaction|
  %tr.recent-outgo{ :'data-transaction-id' => transaction.id }
    %td= l transaction.date
    %td
      %i.icon-arrow-down.icon-red
      = number_to_currency transaction.value
    %td= transaction.category.name
    %td.tag-cell
      %p
        - transaction.tags.each do |tag| 
          %i.icon-tag
          %span.tag= tag.name
    %td.description-cell
      %p= transaction.description
    %td
      %button.destroy-transaction{ :'data-url' => transaction_path(transaction) } ×