%h2
  %span.recent-transaction Movimentações
  %span.recent-outgo Gastos
  %span.recent-income Ganhos
  = ' Recentes'

= render 'summary/recent'
= render 'summary/by_month'
= render 'summary/by_year'
= render 'summary/custom'