%h2
  -# = params[:type] == 'Outgo' ? 'Gastos' : params[:type] == 'Income' ? 'Ganhos' : 'Movimentações' 
  %span.recent-transaction Movimentações
  %span.recent-outgo Gastos
  %span.recent-income Ganhos
  = ' Recentes'

= render 'recent'
= render 'by_month'
= render 'by_year'
= render 'custom'