%h3 Movimentações Recentes

-if @transactions.any?
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th.column-date Data
        %th.column-value Valor
        %th.column-category Categoria/Fonte
        %th.column-tags Tags
        %th.column-description Descrição
    %tbody
      - @transactions.limit(15).each do |transaction|
        %tr{ class: transaction.type == "Outgo" ? 'outgo-row' : 'income-row' }
          %td= transaction.date
          %td= number_to_currency transaction.value
          %td= transaction.type == 'Outgo' ? transaction.category.name : transaction.source.name
          %td
            - if transaction.type == 'Outgo'
              - transaction.tags.each do |tag| 
                %i.icon-tag
                %span.tag= tag.name
          %td= transaction.description
- else
  .alert
    %button.close{ :type => "button", :'data-dismiss' => "alert" } ×
    %strong Ops! 
    Você ainda não tem nenhuma movimentação cadastrada!