%table.table.table-condensed.table-hover.recent
  %thead
    %tr
      %th.column-date Data
      %th.column-value Valor
      %th.column-category= params[:type] == 'Outgo' ? 'Categoria' : params[:type] == 'Income' ? 'Fonte' : 'Categoria/Fonte'
      %th.column-tags= 'Tags' unless params[:type] == "Income"
      %th.column-description Descrição
      %th.column-options
  %tbody
    = render 'recent_transactions'
    = render 'recent_outgoes'
    = render 'recent_incomes'