!!! 5
%html
%head
  %title Wheresmamoney
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  = render 'includes/header'

  #container.container.clearfix
    = render 'includes/new_transaction'
    #content_container
      = yield